/*! normalize.css v8.0.0 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  font-size: 10px;
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type=checkbox],
[type=radio] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type=search] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}

.row {
  box-sizing: border-box;
  margin: 0 auto;
  width: 100%;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex: 0 1 auto;
  flex-direction: row;
  flex-wrap: wrap;
}

.row.reverse {
  flex-direction: row-reverse;
}

.row.natural-height {
  align-items: flex-start;
}

.row.flex-column {
  flex-direction: column;
}

.col {
  box-sizing: border-box;
  flex-grow: 1;
  flex-basis: 0;
  max-width: 100%;
  padding: 1.5rem;
}

.col.reverse {
  flex-direction: column-reverse;
}

.first {
  order: -1;
}

.last {
  order: 1;
}

.align-start {
  align-self: flex-start;
}

.align-end {
  align-self: flex-end;
}

.align-center {
  align-self: center;
}

.align-baseline {
  align-self: baseline;
}

.align-stretch {
  align-self: stretch;
}

.col-xs {
  box-sizing: border-box;
  flex-grow: 1;
  flex-basis: 0;
  max-width: 100%;
  padding: 1.5rem;
}

.col-xs-1 {
  box-sizing: border-box;
  flex-basis: 8.3333333333%;
  max-width: 8.3333333333%;
  padding: 1.5rem;
}

.col-xs-offset-1 {
  margin-left: 8.3333333333%;
}

.col-xs-2 {
  box-sizing: border-box;
  flex-basis: 16.6666666667%;
  max-width: 16.6666666667%;
  padding: 1.5rem;
}

.col-xs-offset-2 {
  margin-left: 16.6666666667%;
}

.col-xs-3 {
  box-sizing: border-box;
  flex-basis: 25%;
  max-width: 25%;
  padding: 1.5rem;
}

.col-xs-offset-3 {
  margin-left: 25%;
}

.col-xs-4 {
  box-sizing: border-box;
  flex-basis: 33.3333333333%;
  max-width: 33.3333333333%;
  padding: 1.5rem;
}

.col-xs-offset-4 {
  margin-left: 33.3333333333%;
}

.col-xs-5 {
  box-sizing: border-box;
  flex-basis: 41.6666666667%;
  max-width: 41.6666666667%;
  padding: 1.5rem;
}

.col-xs-offset-5 {
  margin-left: 41.6666666667%;
}

.col-xs-6 {
  box-sizing: border-box;
  flex-basis: 50%;
  max-width: 50%;
  padding: 1.5rem;
}

.col-xs-offset-6 {
  margin-left: 50%;
}

.col-xs-7 {
  box-sizing: border-box;
  flex-basis: 58.3333333333%;
  max-width: 58.3333333333%;
  padding: 1.5rem;
}

.col-xs-offset-7 {
  margin-left: 58.3333333333%;
}

.col-xs-8 {
  box-sizing: border-box;
  flex-basis: 66.6666666667%;
  max-width: 66.6666666667%;
  padding: 1.5rem;
}

.col-xs-offset-8 {
  margin-left: 66.6666666667%;
}

.col-xs-9 {
  box-sizing: border-box;
  flex-basis: 75%;
  max-width: 75%;
  padding: 1.5rem;
}

.col-xs-offset-9 {
  margin-left: 75%;
}

.col-xs-10 {
  box-sizing: border-box;
  flex-basis: 83.3333333333%;
  max-width: 83.3333333333%;
  padding: 1.5rem;
}

.col-xs-offset-10 {
  margin-left: 83.3333333333%;
}

.col-xs-11 {
  box-sizing: border-box;
  flex-basis: 91.6666666667%;
  max-width: 91.6666666667%;
  padding: 1.5rem;
}

.col-xs-offset-11 {
  margin-left: 91.6666666667%;
}

.col-xs-12 {
  box-sizing: border-box;
  flex-basis: 100%;
  max-width: 100%;
  padding: 1.5rem;
}

.col-xs-offset-12 {
  margin-left: 100%;
}

.row.start-xs {
  justify-content: flex-start;
}

.row.center-xs {
  justify-content: center;
}

.row.end-xs {
  justify-content: flex-end;
}

.row.top-xs {
  align-items: flex-start;
}

.row.middle-xs {
  align-items: center;
}

.row.bottom-xs {
  align-items: flex-end;
}

.row.around-xs {
  justify-content: space-around;
}

.row.between-xs {
  justify-content: space-between;
}

.first-xs {
  order: -1;
}

.last-xs {
  order: 1;
}

@media only screen and (min-width: 670px) {
  .col-sm {
    box-sizing: border-box;
    flex-grow: 1;
    flex-basis: 0;
    max-width: 100%;
    padding: 1.5rem;
  }

  .col-sm-1 {
    box-sizing: border-box;
    flex-basis: 8.3333333333%;
    max-width: 8.3333333333%;
    padding: 1.5rem;
  }

  .col-sm-offset-1 {
    margin-left: 8.3333333333%;
  }

  .col-sm-2 {
    box-sizing: border-box;
    flex-basis: 16.6666666667%;
    max-width: 16.6666666667%;
    padding: 1.5rem;
  }

  .col-sm-offset-2 {
    margin-left: 16.6666666667%;
  }

  .col-sm-3 {
    box-sizing: border-box;
    flex-basis: 25%;
    max-width: 25%;
    padding: 1.5rem;
  }

  .col-sm-offset-3 {
    margin-left: 25%;
  }

  .col-sm-4 {
    box-sizing: border-box;
    flex-basis: 33.3333333333%;
    max-width: 33.3333333333%;
    padding: 1.5rem;
  }

  .col-sm-offset-4 {
    margin-left: 33.3333333333%;
  }

  .col-sm-5 {
    box-sizing: border-box;
    flex-basis: 41.6666666667%;
    max-width: 41.6666666667%;
    padding: 1.5rem;
  }

  .col-sm-offset-5 {
    margin-left: 41.6666666667%;
  }

  .col-sm-6 {
    box-sizing: border-box;
    flex-basis: 50%;
    max-width: 50%;
    padding: 1.5rem;
  }

  .col-sm-offset-6 {
    margin-left: 50%;
  }

  .col-sm-7 {
    box-sizing: border-box;
    flex-basis: 58.3333333333%;
    max-width: 58.3333333333%;
    padding: 1.5rem;
  }

  .col-sm-offset-7 {
    margin-left: 58.3333333333%;
  }

  .col-sm-8 {
    box-sizing: border-box;
    flex-basis: 66.6666666667%;
    max-width: 66.6666666667%;
    padding: 1.5rem;
  }

  .col-sm-offset-8 {
    margin-left: 66.6666666667%;
  }

  .col-sm-9 {
    box-sizing: border-box;
    flex-basis: 75%;
    max-width: 75%;
    padding: 1.5rem;
  }

  .col-sm-offset-9 {
    margin-left: 75%;
  }

  .col-sm-10 {
    box-sizing: border-box;
    flex-basis: 83.3333333333%;
    max-width: 83.3333333333%;
    padding: 1.5rem;
  }

  .col-sm-offset-10 {
    margin-left: 83.3333333333%;
  }

  .col-sm-11 {
    box-sizing: border-box;
    flex-basis: 91.6666666667%;
    max-width: 91.6666666667%;
    padding: 1.5rem;
  }

  .col-sm-offset-11 {
    margin-left: 91.6666666667%;
  }

  .col-sm-12 {
    box-sizing: border-box;
    flex-basis: 100%;
    max-width: 100%;
    padding: 1.5rem;
  }

  .col-sm-offset-12 {
    margin-left: 100%;
  }

  .row.start-sm {
    justify-content: flex-start;
  }

  .row.center-sm {
    justify-content: center;
  }

  .row.end-sm {
    justify-content: flex-end;
  }

  .row.top-sm {
    align-items: flex-start;
  }

  .row.middle-sm {
    align-items: center;
  }

  .row.bottom-sm {
    align-items: flex-end;
  }

  .row.around-sm {
    justify-content: space-around;
  }

  .row.between-sm {
    justify-content: space-between;
  }

  .first-sm {
    order: -1;
  }

  .last-sm {
    order: 1;
  }
}
@media only screen and (min-width: 992px) {
  .col-md {
    box-sizing: border-box;
    flex-grow: 1;
    flex-basis: 0;
    max-width: 100%;
    padding: 1.5rem;
  }

  .col-md-1 {
    box-sizing: border-box;
    flex-basis: 8.3333333333%;
    max-width: 8.3333333333%;
    padding: 1.5rem;
  }

  .col-md-offset-1 {
    margin-left: 8.3333333333%;
  }

  .col-md-2 {
    box-sizing: border-box;
    flex-basis: 16.6666666667%;
    max-width: 16.6666666667%;
    padding: 1.5rem;
  }

  .col-md-offset-2 {
    margin-left: 16.6666666667%;
  }

  .col-md-3 {
    box-sizing: border-box;
    flex-basis: 25%;
    max-width: 25%;
    padding: 1.5rem;
  }

  .col-md-offset-3 {
    margin-left: 25%;
  }

  .col-md-4 {
    box-sizing: border-box;
    flex-basis: 33.3333333333%;
    max-width: 33.3333333333%;
    padding: 1.5rem;
  }

  .col-md-offset-4 {
    margin-left: 33.3333333333%;
  }

  .col-md-5 {
    box-sizing: border-box;
    flex-basis: 41.6666666667%;
    max-width: 41.6666666667%;
    padding: 1.5rem;
  }

  .col-md-offset-5 {
    margin-left: 41.6666666667%;
  }

  .col-md-6 {
    box-sizing: border-box;
    flex-basis: 50%;
    max-width: 50%;
    padding: 1.5rem;
  }

  .col-md-offset-6 {
    margin-left: 50%;
  }

  .col-md-7 {
    box-sizing: border-box;
    flex-basis: 58.3333333333%;
    max-width: 58.3333333333%;
    padding: 1.5rem;
  }

  .col-md-offset-7 {
    margin-left: 58.3333333333%;
  }

  .col-md-8 {
    box-sizing: border-box;
    flex-basis: 66.6666666667%;
    max-width: 66.6666666667%;
    padding: 1.5rem;
  }

  .col-md-offset-8 {
    margin-left: 66.6666666667%;
  }

  .col-md-9 {
    box-sizing: border-box;
    flex-basis: 75%;
    max-width: 75%;
    padding: 1.5rem;
  }

  .col-md-offset-9 {
    margin-left: 75%;
  }

  .col-md-10 {
    box-sizing: border-box;
    flex-basis: 83.3333333333%;
    max-width: 83.3333333333%;
    padding: 1.5rem;
  }

  .col-md-offset-10 {
    margin-left: 83.3333333333%;
  }

  .col-md-11 {
    box-sizing: border-box;
    flex-basis: 91.6666666667%;
    max-width: 91.6666666667%;
    padding: 1.5rem;
  }

  .col-md-offset-11 {
    margin-left: 91.6666666667%;
  }

  .col-md-12 {
    box-sizing: border-box;
    flex-basis: 100%;
    max-width: 100%;
    padding: 1.5rem;
  }

  .col-md-offset-12 {
    margin-left: 100%;
  }

  .row.start-md {
    justify-content: flex-start;
  }

  .row.center-md {
    justify-content: center;
  }

  .row.end-md {
    justify-content: flex-end;
  }

  .row.top-md {
    align-items: flex-start;
  }

  .row.middle-md {
    align-items: center;
  }

  .row.bottom-md {
    align-items: flex-end;
  }

  .row.around-md {
    justify-content: space-around;
  }

  .row.between-md {
    justify-content: space-between;
  }

  .first-md {
    order: -1;
  }

  .last-md {
    order: 1;
  }
}
@media only screen and (min-width: 1200px) {
  .col-lg {
    box-sizing: border-box;
    flex-grow: 1;
    flex-basis: 0;
    max-width: 100%;
    padding: 1.5rem;
  }

  .col-lg-1 {
    box-sizing: border-box;
    flex-basis: 8.3333333333%;
    max-width: 8.3333333333%;
    padding: 1.5rem;
  }

  .col-lg-offset-1 {
    margin-left: 8.3333333333%;
  }

  .col-lg-2 {
    box-sizing: border-box;
    flex-basis: 16.6666666667%;
    max-width: 16.6666666667%;
    padding: 1.5rem;
  }

  .col-lg-offset-2 {
    margin-left: 16.6666666667%;
  }

  .col-lg-3 {
    box-sizing: border-box;
    flex-basis: 25%;
    max-width: 25%;
    padding: 1.5rem;
  }

  .col-lg-offset-3 {
    margin-left: 25%;
  }

  .col-lg-4 {
    box-sizing: border-box;
    flex-basis: 33.3333333333%;
    max-width: 33.3333333333%;
    padding: 1.5rem;
  }

  .col-lg-offset-4 {
    margin-left: 33.3333333333%;
  }

  .col-lg-5 {
    box-sizing: border-box;
    flex-basis: 41.6666666667%;
    max-width: 41.6666666667%;
    padding: 1.5rem;
  }

  .col-lg-offset-5 {
    margin-left: 41.6666666667%;
  }

  .col-lg-6 {
    box-sizing: border-box;
    flex-basis: 50%;
    max-width: 50%;
    padding: 1.5rem;
  }

  .col-lg-offset-6 {
    margin-left: 50%;
  }

  .col-lg-7 {
    box-sizing: border-box;
    flex-basis: 58.3333333333%;
    max-width: 58.3333333333%;
    padding: 1.5rem;
  }

  .col-lg-offset-7 {
    margin-left: 58.3333333333%;
  }

  .col-lg-8 {
    box-sizing: border-box;
    flex-basis: 66.6666666667%;
    max-width: 66.6666666667%;
    padding: 1.5rem;
  }

  .col-lg-offset-8 {
    margin-left: 66.6666666667%;
  }

  .col-lg-9 {
    box-sizing: border-box;
    flex-basis: 75%;
    max-width: 75%;
    padding: 1.5rem;
  }

  .col-lg-offset-9 {
    margin-left: 75%;
  }

  .col-lg-10 {
    box-sizing: border-box;
    flex-basis: 83.3333333333%;
    max-width: 83.3333333333%;
    padding: 1.5rem;
  }

  .col-lg-offset-10 {
    margin-left: 83.3333333333%;
  }

  .col-lg-11 {
    box-sizing: border-box;
    flex-basis: 91.6666666667%;
    max-width: 91.6666666667%;
    padding: 1.5rem;
  }

  .col-lg-offset-11 {
    margin-left: 91.6666666667%;
  }

  .col-lg-12 {
    box-sizing: border-box;
    flex-basis: 100%;
    max-width: 100%;
    padding: 1.5rem;
  }

  .col-lg-offset-12 {
    margin-left: 100%;
  }

  .row.start-lg {
    justify-content: flex-start;
  }

  .row.center-lg {
    justify-content: center;
  }

  .row.end-lg {
    justify-content: flex-end;
  }

  .row.top-lg {
    align-items: flex-start;
  }

  .row.middle-lg {
    align-items: center;
  }

  .row.bottom-lg {
    align-items: flex-end;
  }

  .row.around-lg {
    justify-content: space-around;
  }

  .row.between-lg {
    justify-content: space-between;
  }

  .first-lg {
    order: -1;
  }

  .last-lg {
    order: 1;
  }
}
@media only screen and (min-width: 1340px) {
  .col-xl {
    box-sizing: border-box;
    flex-grow: 1;
    flex-basis: 0;
    max-width: 100%;
    padding: 1.5rem;
  }

  .col-xl-1 {
    box-sizing: border-box;
    flex-basis: 8.3333333333%;
    max-width: 8.3333333333%;
    padding: 1.5rem;
  }

  .col-xl-offset-1 {
    margin-left: 8.3333333333%;
  }

  .col-xl-2 {
    box-sizing: border-box;
    flex-basis: 16.6666666667%;
    max-width: 16.6666666667%;
    padding: 1.5rem;
  }

  .col-xl-offset-2 {
    margin-left: 16.6666666667%;
  }

  .col-xl-3 {
    box-sizing: border-box;
    flex-basis: 25%;
    max-width: 25%;
    padding: 1.5rem;
  }

  .col-xl-offset-3 {
    margin-left: 25%;
  }

  .col-xl-4 {
    box-sizing: border-box;
    flex-basis: 33.3333333333%;
    max-width: 33.3333333333%;
    padding: 1.5rem;
  }

  .col-xl-offset-4 {
    margin-left: 33.3333333333%;
  }

  .col-xl-5 {
    box-sizing: border-box;
    flex-basis: 41.6666666667%;
    max-width: 41.6666666667%;
    padding: 1.5rem;
  }

  .col-xl-offset-5 {
    margin-left: 41.6666666667%;
  }

  .col-xl-6 {
    box-sizing: border-box;
    flex-basis: 50%;
    max-width: 50%;
    padding: 1.5rem;
  }

  .col-xl-offset-6 {
    margin-left: 50%;
  }

  .col-xl-7 {
    box-sizing: border-box;
    flex-basis: 58.3333333333%;
    max-width: 58.3333333333%;
    padding: 1.5rem;
  }

  .col-xl-offset-7 {
    margin-left: 58.3333333333%;
  }

  .col-xl-8 {
    box-sizing: border-box;
    flex-basis: 66.6666666667%;
    max-width: 66.6666666667%;
    padding: 1.5rem;
  }

  .col-xl-offset-8 {
    margin-left: 66.6666666667%;
  }

  .col-xl-9 {
    box-sizing: border-box;
    flex-basis: 75%;
    max-width: 75%;
    padding: 1.5rem;
  }

  .col-xl-offset-9 {
    margin-left: 75%;
  }

  .col-xl-10 {
    box-sizing: border-box;
    flex-basis: 83.3333333333%;
    max-width: 83.3333333333%;
    padding: 1.5rem;
  }

  .col-xl-offset-10 {
    margin-left: 83.3333333333%;
  }

  .col-xl-11 {
    box-sizing: border-box;
    flex-basis: 91.6666666667%;
    max-width: 91.6666666667%;
    padding: 1.5rem;
  }

  .col-xl-offset-11 {
    margin-left: 91.6666666667%;
  }

  .col-xl-12 {
    box-sizing: border-box;
    flex-basis: 100%;
    max-width: 100%;
    padding: 1.5rem;
  }

  .col-xl-offset-12 {
    margin-left: 100%;
  }

  .row.start-xl {
    justify-content: flex-start;
  }

  .row.center-xl {
    justify-content: center;
  }

  .row.end-xl {
    justify-content: flex-end;
  }

  .row.top-xl {
    align-items: flex-start;
  }

  .row.middle-xl {
    align-items: center;
  }

  .row.bottom-xl {
    align-items: flex-end;
  }

  .row.around-xl {
    justify-content: space-around;
  }

  .row.between-xl {
    justify-content: space-between;
  }

  .first-xl {
    order: -1;
  }

  .last-xl {
    order: 1;
  }
}
.col-gutter-lr {
  padding: 0 1.5rem;
}

.col-no-gutter {
  padding: 0;
}

.show {
  display: block !important;
}

.row.show {
  display: -webkit-flex !important;
  display: -ms-flexbox !important;
  display: flex !important;
}

.hide {
  display: none !important;
}

.show-xs {
  display: block !important;
}

.row.show-xs {
  display: -webkit-flex !important;
  display: -ms-flexbox !important;
  display: flex !important;
}

.hide-xs {
  display: none !important;
}

@media only screen and (max-width: 669.9px) {
  .show-xs-only {
    display: block !important;
  }

  .row.show-xs-only {
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }

  .hide-xs-only {
    display: none !important;
  }
}
@media only screen and (min-width: 670px) {
  .show-sm {
    display: block !important;
  }

  .row.show-sm {
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }

  .hide-sm {
    display: none !important;
  }
}
@media only screen and (min-width: 670px) and (max-width: 991.9px) {
  .show-sm-only {
    display: block !important;
  }

  .row.show-sm-only {
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }

  .hide-sm-only {
    display: none !important;
  }
}
@media only screen and (min-width: 992px) {
  .show-md {
    display: block !important;
  }

  .row.show-md {
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }

  .hide-md {
    display: none !important;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1199.9px) {
  .show-md-only {
    display: block !important;
  }

  .row.show-md-only {
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }

  .hide-md-only {
    display: none !important;
  }
}
@media only screen and (min-width: 1200px) {
  .show-lg {
    display: block !important;
  }

  .row.show-lg {
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }

  .hide-lg {
    display: none !important;
  }
}
@media only screen and (min-width: 1200px) and (max-width: 1339.9px) {
  .show-lg-only {
    display: block !important;
  }

  .row.show-lg-only {
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }

  .hide-lg-only {
    display: none !important;
  }
}
@media only screen and (min-width: 1340px) {
  .show-xl {
    display: block !important;
  }

  .row.show-xl {
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }

  .hide-xl {
    display: none !important;
  }
}
.breadcrumb {
  padding: 0;
  font-size: 0;
  line-height: 0;
  list-style: none;
  margin: 0 0 20px 0;
}
.breadcrumb > li {
  line-height: 20px;
  display: inline-block;
  font-size: 1.6rem;
}
.breadcrumb > li:after {
  content: ">";
  padding: 0 5px;
}
.btn {
  color: #fff;
  border: none;
  outline: none;
  cursor: pointer;
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 2rem;
  padding: 18px 30px;
  user-select: none;
  text-align: center;
  white-space: nowrap;
  background: #1396e4;
  text-decoration: none;
  display: inline-block;
  vertical-align: middle;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.btn:hover {
  color: #fff;
  background: #056ce4;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.btn:active {
  background: #1396e4;
}
.btn:focus, .btn.focus {
  outline: 0;
}

.btn_white {
  padding: 10px 25px;
  color: #325da6;
  background: #fff;
}
.btn_white:hover {
  color: #325da6;
  background: #fff;
}

.btn_shadow {
  -webkit-box-shadow: 0px 6px 10px 0px rgba(19, 150, 228, 0.36);
  box-shadow: 0px 6px 10px 0px rgba(19, 150, 228, 0.36);
}

.embed-responsive {
  position: relative;
  display: block;
  width: 100%;
  padding: 0;
  overflow: hidden;
}
.embed-responsive::before {
  display: block;
  content: "";
}
.embed-responsive .embed-responsive-item,
.embed-responsive iframe,
.embed-responsive embed,
.embed-responsive object,
.embed-responsive video {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}

.embed-responsive-21by9::before {
  padding-top: 42.8571428571%;
}

.embed-responsive-16by9::before {
  padding-top: 56.25%;
}

.embed-responsive-4by3::before {
  padding-top: 75%;
}

.embed-responsive-1by1::before {
  padding-top: 100%;
}

.img-fluid {
  height: auto;
  display: block;
  max-width: 100%;
}

.ico-svg {
  position: relative;
  display: inline-block;
  width: auto;
  height: 100%;
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0);
}

.hide {
  opacity: 0 !important;
  display: none !important;
  visibility: hidden !important;
}

.text-center {
  text-align: center !important;
}

.text-right {
  text-align: right !important;
}

.text-justify {
  text-align: justify !important;
}

.text-nowrap {
  white-space: nowrap !important;
}

.text-lowercase {
  text-transform: lowercase !important;
}

.text-uppercase {
  text-transform: uppercase !important;
}

.text-capitalize {
  text-transform: capitalize !important;
}

.mb_10 {
  margin-bottom: 10px !important;
}

.mb_20 {
  margin-bottom: 20px !important;
}

.mb_30 {
  margin-bottom: 30px !important;
}

.mb_40 {
  margin-bottom: 40px !important;
}

.mb_50 {
  margin-bottom: 50px !important;
}

.mb_60 {
  margin-bottom: 60px !important;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  color: #53565e;
  font-family: "Rubik", Arial, sans-serif;
  background-color: #fff;
  font-size: 1.6rem;
  line-height: 1.5;
}

.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}
.container:before, .container:after {
  content: " ";
  display: table;
}
.container:after {
  clear: both;
}
@media (min-width: 670px) {
  .container {
    width: 640px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
@media (min-width: 1340px) {
  .container {
    width: 1310px;
  }
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  margin: 0;
  padding: 0;
  font-weight: 700;
  line-height: 1.2;
}

h1, .h1 {
  font-size: 3.2rem;
  font-family: "Rubik", Arial, sans-serif;
}

h2, .h2 {
  color: #262c38;
  font-weight: 700;
  font-size: 2.1rem;
  line-height: 2.6rem;
  margin-bottom: 10px;
  font-family: "Rubik", Arial, sans-serif;
}
@media (min-width: 992px) {
  h2, .h2 {
    font-weight: 500;
    font-size: 3.6rem;
    line-height: 4.4rem;
    margin-bottom: 20px;
  }
}

h3, .h3 {
  font-size: 2.4rem;
  font-family: "Rubik", Arial, sans-serif;
}

h4, .h4 {
  font-size: 2rem;
  font-family: "Rubik", Arial, sans-serif;
}

h5, .h5 {
  font-size: 1.6rem;
  font-family: "Rubik", Arial, sans-serif;
}

h6, .h6 {
  font-size: 1.4rem;
  font-family: "Rubik", Arial, sans-serif;
}

p {
  margin: 0 0 20px 0;
}

a {
  outline: none;
  color: #53565e;
  text-decoration: underline;
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}
a:hover {
  color: #53565e;
  text-decoration: none;
}

.header {
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  font-size: 1.4rem;
  background: #fff;
  position: fixed;
}
.header__row {
  height: 64px;
  padding: 5px 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  justify-content: space-between;
}
.header__logo {
  width: 124px;
  display: block;
}
.header__toggle {
  width: 40px;
  height: 38px;
  font-size: 0;
  line-height: 0;
  cursor: pointer;
  z-index: 1050;
  position: relative;
  display: inline-block;
  border: 1px solid #c7d9eb;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
}
.header__toggle span, .header__toggle:after, .header__toggle:before {
  left: 50%;
  z-index: 10;
  height: 2px;
  width: 24px;
  content: "";
  margin-left: -12px;
  position: absolute;
  background: #1e2836;
  display: inline-block;
}
.header__toggle span {
  top: 17px;
}
.header__toggle:after {
  top: 9px;
}
.header__toggle:before {
  bottom: 9px;
}
.header__content {
  top: 0;
  left: 0;
  color: #fff;
  height: 100vh;
  width: 260px;
  z-index: 1050;
  display: block;
  position: fixed;
  margin-left: -280px;
  padding: 30px 15px;
  background: #325da6;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.header__content_layout {
  top: 0;
  left: 0;
  right: 0;
  opacity: 0;
  z-index: 1010;
  height: 100vh;
  position: fixed;
  visibility: hidden;
}
.header__nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.header__nav ul li a {
  padding: 5px 0;
  font-weight: 500;
  color: #fff;
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
}
.header__nav ul li a:hover {
  color: #fff;
  text-decoration: underline;
}
.header__contact {
  margin: 0;
  list-style: none;
  font-weight: 300;
  font-size: 1.4rem;
  padding: 10px 0 20px 0;
}
.header__contact li {
  padding: 3px 0;
  white-space: nowrap;
}
.header__contact li span {
  display: block;
}
.header__contact li a {
  font-weight: 500;
  color: #fff;
  text-decoration: none;
}
.header__contact li a:hover {
  color: #fff;
  text-decoration: none;
}
.header.nav_open .header__content {
  margin-left: 0;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.header.nav_open .header__content_layout {
  visibility: visible;
  opacity: 1;
}
.header.nav_open .header__toggle span {
  display: none;
}
.header.nav_open .header__toggle:after {
  top: 17px;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
.header.nav_open .header__toggle:before {
  bottom: 17px;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
@media (min-width: 670px) {
  .header__row {
    height: 70px;
  }
}
@media (min-width: 1200px) {
  .header {
    background: transparent;
    position: absolute;
  }
  .header__row {
    height: 120px;
  }
  .header__toggle {
    display: none;
  }
  .header__logo {
    width: 170px;
  }
  .header__content {
    margin: 0;
    padding: 0;
    top: auto;
    left: auto;
    right: auto;
    width: auto;
    height: auto;
    position: relative;
    background: transparent;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    align-items: center;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
  .header__nav {
    padding: 0;
    margin: 0 40px 0 0;
  }
  .header__nav ul {
    padding: 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
  }
  .header__nav ul li {
    margin: 0 30px 0 0;
  }
  .header__nav ul li a {
    padding: 0;
  }
  .header__contact {
    padding: 0 25px 0 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
  }
  .header__contact li {
    margin-right: 25px;
  }
  .header.nav_open .header__toggle {
    display: none;
  }
  .header.nav_open .header__content_layout {
    opacity: 0;
    display: none;
    visibility: hidden;
  }
}
@media (min-width: 1340px) {
  .header__nav {
    margin-right: 70px;
  }
}

.footer {
  color: #fff;
  text-align: center;
  font-size: 1.4rem;
  line-height: 2rem;
  background: #354f98;
}
.footer__right {
  padding-top: 45px;
  padding-bottom: 40px;
}
.footer__logo {
  display: none;
}
.footer__text {
  padding: 24px 0;
  font-weight: 300;
  font-size: 1.4rem;
  line-height: 2rem;
  border-top: 1px solid #9aa4c5;
}
.footer__text span {
  opacity: 0.4;
}
.footer__title {
  font-weight: 700;
  font-size: 1.6rem;
  line-height: 2rem;
  margin-bottom: 5px;
}
.footer__nav {
  margin-bottom: 20px;
}
.footer__nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.footer__nav ul li {
  margin-bottom: 6px;
}
.footer__nav ul li:last-child {
  margin-bottom: 0;
}
.footer__nav ul li a {
  color: #fff;
  text-decoration: none;
}
.footer__nav ul li a:hover {
  color: #fff;
  text-decoration: underline;
}
.footer__contact {
  margin-bottom: 20px;
}
.footer__contact ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.footer__contact ul li {
  margin-bottom: 6px;
}
.footer__contact ul li:last-child {
  margin-bottom: 0;
}
.footer__contact ul li a {
  color: #fff;
  text-decoration: none;
}
.footer__contact ul li a:hover {
  color: #fff;
  text-decoration: none;
}
.footer__social_row {
  font-size: 0;
  line-height: 0;
  margin: 0 -5px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  justify-content: center;
}
.footer__social a {
  width: 36px;
  height: 36px;
  margin: 0 5px 10px 5px;
  text-align: center;
  border: 1px solid #fff;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-shrink: 0;
  -moz-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
}
.footer__social a > div {
  margin: auto 0;
}
.footer__social a i {
  height: 16px;
  display: inline-block;
}
.footer__social a .ico-svg {
  fill: #fff;
}
.footer__social a:hover {
  background: #fff;
}
.footer__social a:hover .ico-svg {
  fill: #354f98;
}
.footer__info {
  display: none;
  color: #53565e;
  font-size: 1.4rem;
  line-height: 2rem;
  padding-top: 15px;
}
@media (min-width: 670px) {
  .footer {
    text-align: left;
  }
  .footer__right {
    padding-bottom: 30px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    justify-content: space-between;
  }
  .footer__nav {
    margin-bottom: 0;
  }
  .footer__contact {
    margin-bottom: 0;
  }
  .footer__social {
    width: 128px;
    -webkit-flex-shrink: 0;
    -moz-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
  }
  .footer__social_row {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    -webkit-justify-content: flex-start;
    -moz-justify-content: flex-start;
    justify-content: flex-start;
  }
  .footer__text {
    text-align: center;
  }
}
@media (min-width: 992px) {
  .footer__title {
    margin-bottom: 15px;
  }
  .footer__social {
    width: 174px;
  }
}
@media (min-width: 1200px) {
  .footer {
    height: 300px;
    background: url("../img/footer__bg.jpg") 50% 0 no-repeat;
  }
  .footer__row {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -moz-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    justify-content: space-between;
  }
  .footer__left {
    width: 360px;
    height: 300px;
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
    -moz-order: 1;
    -ms-flex-order: 1;
    order: 1;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-direction: normal;
    -webkit-box-orient: vertical;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-flex-shrink: 0;
    -moz-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
  }
  .footer__right {
    height: 300px;
    padding: 60px 0 0 50px;
    -webkit-box-ordinal-group: 3;
    -webkit-order: 2;
    -moz-order: 2;
    -ms-flex-order: 2;
    order: 2;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -moz-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
  }
  .footer__logo {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -moz-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-direction: normal;
    -webkit-box-orient: vertical;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .footer__logo_wrap {
    margin: auto 0;
  }
  .footer__logo a {
    width: 170px;
    display: inline-block;
  }
  .footer__text {
    color: #53565e;
    text-align: left;
    padding: 35px 0;
    border-top: 1px solid #cde6f3;
  }
  .footer__nav ul li {
    margin-bottom: 10px;
  }
  .footer__nav ul li:last-child {
    margin-bottom: 0;
  }
  .footer__contact ul li {
    margin-bottom: 10px;
  }
  .footer__contact ul li:last-child {
    margin-bottom: 0;
  }
  .footer__info {
    display: block;
  }
}
@media (min-width: 1340px) {
  .footer__left {
    width: 435px;
  }
  .footer__right {
    padding-left: 100px;
  }
  .footer__contact {
    padding-right: 40px;
  }
}

.page {
  width: 100%;
  overflow: hidden;
  min-height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.main {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -moz-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

.subtitle {
  color: #53565e;
  font-weight: 300;
  max-width: 680px;
  font-size: 1.6rem;
  line-height: 2.2rem;
  text-align: center;
  margin: 0 auto 25px auto;
}
@media (min-width: 992px) {
  .subtitle {
    font-size: 1.8rem;
    line-height: 2.6rem;
    margin-bottom: 45px;
  }
}

.promo {
  position: relative;
  background: #354f98;
  padding-top: 110px;
  padding-bottom: 50px;
}
.promo .container {
  z-index: 10;
  position: relative;
}
.promo__content {
  color: #fff;
  text-align: center;
}
.promo__content h1 {
  font-weight: 700;
  font-size: 2.6rem;
  line-height: 2.6rem;
  margin-bottom: 10px;
  min-height: 80px;
}
.promo__content p {
  font-size: 18px;
  max-width: 220px;
  font-weight: 500;
  line-height: 20px;
  margin: 0 auto 20px auto;
}
.promo__button {
  display: none;
}
.promo__image {
  margin: 0 auto;
  max-width: 300px;
  position: relative;
}
.promo__mobile {
  padding-top: 20px;
  text-align: center;
}
.promo__video {
  top: 50%;
  left: 50%;
  width: 50px;
  height: 50px;
  position: absolute;
  display: inline-block;
  margin: -50px 0 0 -25px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
}
.promo__video span {
  top: 50%;
  left: 50%;
  z-index: 10;
  width: 18px;
  position: absolute;
  display: inline-block;
  margin: -10px 0 0 -8px;
}
.promo__video:after {
  top: 0;
  left: 0;
  z-index: 5;
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  background: #1396e4;
  display: inline-block;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.promo__video:before {
  z-index: 1;
  top: -16px;
  content: "";
  left: -16px;
  right: -16px;
  bottom: -16px;
  position: absolute;
  background: #1396e4;
  display: inline-block;
  background: rgba(19, 150, 228, 0.2);
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
}
.promo__video:hover:after {
  background: #0378e4;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
@media (min-width: 670px) {
  .promo {
    padding-top: 120px;
  }
  .promo__row {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    justify-content: space-between;
  }
  .promo__content {
    text-align: left;
  }
  .promo__content p {
    margin: 0 0 30px 0;
  }
  .promo__button {
    display: block;
  }
  .promo__image {
    margin: 0;
  }
  .promo__mobile {
    display: none;
  }
}
@media (min-width: 992px) {
  .promo__content h1 {
    font-size: 4rem;
    line-height: 4rem;
    margin-bottom: 15px;
  }
  .promo__content p {
    width: inherit;
    max-width: inherit;
    font-size: 2.4rem;
    line-height: 3.2rem;
    margin: 0 0 35px 0;
  }
  .promo__image {
    width: 420px;
    max-width: inherit;
  }
}
@media (min-width: 1200px) {
  .promo {
    background: transparent;
  }
  .promo:before {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    content: "";
    display: block;
    position: absolute;
    background: url("../img/promo__bg.jpg") 50% 0 no-repeat;
  }
  .promo__content {
    color: #262c38;
  }
  .promo__content h1 {
    font-size: 4rem;
    line-height: 4rem;
    max-width: 380px;
    min-height: 80px;
  }
  .promo__content p {
    font-size: 2rem;
  }
  .promo__image {
    width: 520px;
  }
  .promo__video {
    width: 80px;
    height: 80px;
    margin: -90px 0 0 -50px;
  }
  .promo__video span {
    width: 26px;
    margin: -15px 0 0 -10px;
  }
}
@media (min-width: 1340px) {
  .promo {
    padding-top: 125px;
    padding-bottom: 90px;
  }
  .promo__content h1 {
    font-size: 4.8rem;
    line-height: 4.8rem;
    max-width: 450px;
    min-height: 96px;
  }
  .promo__content p {
    font-size: 2.4rem;
  }
  .promo__image {
    width: 827px;
  }
}

.vendor {
  padding: 20px 0;
}
.vendor__logo {
  overflow: hidden;
  border: 1px solid #cde6f3;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
}
.vendor__logo i {
  display: block;
  margin: 0 auto;
  max-width: 170px;
}
@media (min-width: 670px) {
  .vendor {
    padding: 50px 0 40px 0;
  }
}

.about {
  padding-top: 20px;
  padding-bottom: 40px;
}
.about h2 {
  color: #262c38;
  text-align: center;
}
.about__introtext {
  color: #53565e;
  font-weight: 300;
  font-size: 1.6rem;
  line-height: 2.2rem;
  text-align: center;
  max-width: 560px;
  margin: 0 auto 30px auto;
}
.about__row {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 1.5rem;
  line-height: 2.2rem;
}
.about__row > li {
  text-align: center;
  margin-bottom: 10px;
}
.about__image {
  width: 260px;
  margin: 0 auto 10px auto;
}
.about__title {
  color: #262c38;
  font-weight: 700;
  font-size: 1.6rem;
  line-height: 2.2rem;
  margin-bottom: 5px;
}
.about__text {
  color: #53565e;
  margin: 0 auto;
  max-width: 400px;
}
@media (min-width: 670px) {
  .about {
    padding-bottom: 60px;
  }
  .about__row > li {
    margin-bottom: 0;
    text-align: left;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    justify-content: space-between;
  }
  .about__row > li:nth-child(2) {
    text-align: right;
    -webkit-box-direction: reverse;
    -webkit-box-orient: horizontal;
    -webkit-flex-direction: row-reverse;
    -moz-flex-direction: row-reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
  }
  .about__image {
    margin: 0;
    width: 290px;
    padding: 0 15px;
    -webkit-flex-shrink: 0;
    -moz-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
  }
}
@media (min-width: 992px) {
  .about {
    padding-top: 40px;
  }
  .about__introtext {
    max-width: 640px;
    font-size: 1.8rem;
    line-height: 2.6rem;
  }
  .about__row {
    font-size: 1.6rem;
    line-height: 2.4rem;
  }
  .about__image {
    width: 340px;
    padding: 0 15px;
    -webkit-flex-shrink: 0;
    -moz-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
  }
  .about__title {
    font-size: 2rem;
    line-height: 2.4rem;
    margin-bottom: 10px;
  }
  .about__text {
    max-width: inherit;
  }
}
@media (min-width: 1200px) {
  .about {
    padding-bottom: 90px;
  }
  .about__row {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    justify-content: space-between;
  }
  .about__row > li {
    width: 33.33%;
    display: block;
    text-align: center;
  }
  .about__row > li:nth-child(2) {
    text-align: center;
  }
  .about__image {
    width: auto;
    padding: 0;
    margin: 0 auto 20px auto;
    max-width: 310px;
  }
  .about__content {
    max-width: 400px;
    margin: 0 auto;
  }
}
.comfort {
  padding-top: 45px;
  padding-bottom: 50px;
  background-color: #ecf7fd;
}
.comfort h2 {
  text-align: center;
}
.comfort__col {
  margin-bottom: 30px;
}
.comfort__title {
  z-index: 1;
  background: #fff;
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 1.8rem;
  padding: 20px 30px;
  text-align: center;
  margin-bottom: 10px;
  position: relative;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  border-radius: 6px;
}
.comfort__title span {
  width: 200px;
  display: inline-block;
}
.comfort__title_rose {
  color: #fb6090;
  border: 1px solid #fb6090;
}
.comfort__title_green {
  color: #00b262;
  border: 1px solid #00b262;
}
.comfort__informer {
  color: #fff;
  z-index: 10;
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 2rem;
  text-align: center;
  padding: 15px 20px;
  margin-bottom: 20px;
  position: relative;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  border-radius: 6px;
}
.comfort__informer:before {
  top: -21px;
  content: "";
  width: 37px;
  height: 21px;
  position: absolute;
  display: inline-block;
}
.comfort__informer_rose {
  background: #fb6090;
}
.comfort__informer_rose:before {
  right: 35px;
  background: url("../img/comfort__arrow_rose_up.png") 0 0 no-repeat;
}
.comfort__informer_green {
  background: #00b262;
}
.comfort__informer_green:before {
  left: 35px;
  background: url("../img/comfort__arrow_green_up.png") 0 0 no-repeat;
}
.comfort__step {
  margin: 0;
  padding: 0;
  color: #53565e;
  font-size: 1.5rem;
  line-height: 2rem;
  list-style: none;
  text-align: center;
}
.comfort__step > li {
  padding-top: 30px;
  position: relative;
  margin-bottom: 5px;
}
.comfort__step > li:before {
  top: 0;
  left: 50%;
  z-index: 5;
  content: "";
  width: 26px;
  height: 26px;
  margin-left: -13px;
  position: absolute;
  display: inline-block;
}
.comfort__step > li span {
  display: block;
}
.comfort__step > li strong {
  color: #262c38;
  display: block;
  font-weight: 500;
}
.comfort__step_rose > li:before {
  background: url("../img/comfort__point_rose.png") 50% 50% no-repeat;
  background-size: cover;
}
.comfort__step_green > li:before {
  background: url("../img/comfort__point_green.png") 50% 50% no-repeat;
  background-size: cover;
}
.comfort__man {
  width: 1px;
  height: 1px;
  z-index: 1;
  opacity: 0;
  visibility: hidden;
  position: absolute;
}
@media (min-width: 670px) {
  .comfort__row {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    justify-content: space-between;
  }
  .comfort__col {
    width: 290px;
  }
  .comfort__informer {
    min-height: 110px;
  }
}
@media (min-width: 992px) {
  .comfort {
    padding-top: 60px;
    padding-bottom: 80px;
  }
  .comfort__row {
    position: relative;
    margin-bottom: 20px;
  }
  .comfort__col {
    margin-bottom: 0;
    width: calc(50% - 15px);
  }
  .comfort__title {
    padding: 25px 40px;
  }
  .comfort__title span {
    width: auto;
  }
  .comfort__title_rose {
    text-align: right;
  }
  .comfort__title_green {
    text-align: left;
  }
  .comfort__informer {
    margin-bottom: 40px;
    min-height: inherit;
  }
  .comfort__wrap {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
  }
  .comfort__wrap_green {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    -webkit-justify-content: flex-end;
    -moz-justify-content: flex-end;
    justify-content: flex-end;
  }
  .comfort__step {
    width: 345px;
  }
  .comfort__step > li {
    padding: 0;
    margin-bottom: 35px;
  }
  .comfort__step > li:before {
    width: 31px;
    height: 31px;
    margin-left: 0;
  }
  .comfort__step > li:after {
    width: 3px;
    top: 31px;
    z-index: 1;
    content: "";
    bottom: -35px;
    position: absolute;
    display: inline-block;
    background: url("../img/comfort__line.png") 0 0 repeat-y;
  }
  .comfort__step > li:last-child {
    margin-bottom: 0;
  }
  .comfort__step > li:last-child:after {
    opacity: 0;
    display: none;
    visibility: hidden;
  }
  .comfort__step_rose > li {
    text-align: right;
    padding-right: 50px;
  }
  .comfort__step_rose > li:before {
    left: auto;
    right: 0;
  }
  .comfort__step_rose > li:after {
    right: 14px;
  }
  .comfort__step_green > li {
    text-align: left;
    padding-left: 50px;
  }
  .comfort__step_green > li:before {
    left: 0;
    right: auto;
  }
  .comfort__step_green > li:after {
    left: 14px;
  }
}
@media (min-width: 1200px) {
  .comfort {
    padding-top: 90px;
    padding-bottom: 100px;
  }
  .comfort__title {
    margin-bottom: 40px;
  }
  .comfort__informer {
    margin: 0;
    z-index: 10;
    width: 310px;
    padding: 15px 35px;
    text-align: left;
    position: absolute;
  }
  .comfort__informer_rose {
    top: 380px;
    left: 365px;
  }
  .comfort__informer_rose:before {
    top: auto;
    bottom: -21px;
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
  }
  .comfort__informer_green {
    top: 250px;
    right: 365px;
  }
  .comfort__informer_green:before {
    top: auto;
    bottom: -21px;
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
  }
  .comfort__man {
    left: 50%;
    top: 160px;
    opacity: 1;
    width: 360px;
    height: auto;
    margin-left: -180px;
    visibility: visible;
  }
}
@media (min-width: 1340px) {
  .comfort__man {
    top: 130px;
    width: 432px;
    margin-left: -216px;
  }
}

.advantage {
  padding-top: 45px;
  padding-bottom: 50px;
  background-color: #fff;
}
.advantage__mobile {
  display: block;
}
.advantage__mobile .advantage__item {
  margin: 10px auto;
}
.advantage__mobile .swiper-pagination {
  font-size: 0;
  line-height: 0;
  left: auto;
  right: auto;
  bottom: auto;
  outline: none;
  padding-top: 20px;
  position: relative;
}
.advantage__mobile .swiper-pagination-bullet {
  width: 8px;
  height: 8px;
  opacity: 1;
  background: #b8dff7;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
}
.advantage__mobile .swiper-pagination-bullet-active {
  background: #1396e4;
}
.advantage__desktop {
  display: none;
}
.advantage__item {
  width: 290px;
  height: 280px;
  color: #53565e;
  cursor: pointer;
  font-weight: 300;
  font-size: 1.5rem;
  line-height: 2.2rem;
  text-align: center;
  padding: 30px 15px;
  text-decoration: none;
  border: 1px solid #cbd8ea;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
}
.advantage__item_icon {
  height: 50px;
  display: block;
  margin: 0 auto 20px auto;
}
.advantage__item_title {
  color: #262c38;
  font-weight: 700;
  font-size: 1.6rem;
  line-height: 2.2rem;
  margin-bottom: 5px;
}
.advantage__item_01 svg .cls-1,
.advantage__item_01 svg .cls-2,
.advantage__item_01 svg .cls-3,
.advantage__item_01 svg .cls-4,
.advantage__item_01 svg .cls-5 {
  stroke: #1396e4;
}
.advantage__item_01:hover svg .cls-1,
.advantage__item_01:hover svg .cls-2,
.advantage__item_01:hover svg .cls-3,
.advantage__item_01:hover svg .cls-4,
.advantage__item_01:hover svg .cls-5 {
  stroke: #fff;
}
.advantage__item_02 svg .cls-1 {
  stroke: #1396e4;
}
.advantage__item_02:hover svg .cls-1 {
  stroke: #fff;
}
.advantage__item_03 svg .cls-1 {
  stroke: #1396e4;
}
.advantage__item_03:hover svg .cls-1 {
  stroke: #fff;
}
.advantage__item_04 svg .cls-1 {
  stroke: #1396e4;
}
.advantage__item_04:hover svg .cls-1 {
  stroke: #fff;
}
.advantage__item_05 svg .cls-1 {
  stroke: #1396e4;
}
.advantage__item_05:hover svg .cls-1 {
  stroke: #fff;
}
.advantage__item_06 svg .cls-1 {
  stroke: #1396e4;
}
.advantage__item_06:hover svg .cls-1 {
  stroke: #fff;
}
.advantage__item_07 svg .cls-1,
.advantage__item_07 svg .cls-3 {
  stroke: #1396e4;
}
.advantage__item_07 svg .cls-2 {
  fill: #1396e4;
}
.advantage__item_07:hover svg .cls-1,
.advantage__item_07:hover svg .cls-3 {
  stroke: #fff;
}
.advantage__item_07:hover svg .cls-2 {
  fill: #fff;
}
.advantage__item_08 svg .cls-1 {
  fill: #1396e4;
}
.advantage__item_08 svg .cls-2,
.advantage__item_08 svg .cls-3 {
  stroke: #1396e4;
}
.advantage__item_08:hover svg .cls-1 {
  fill: #fff;
}
.advantage__item_08:hover svg .cls-2,
.advantage__item_08:hover svg .cls-3 {
  stroke: #fff;
}
.advantage__item_09 svg .cls-1 {
  fill: #1396e4;
}
.advantage__item_09 svg .cls-2,
.advantage__item_09 svg .cls-3 {
  stroke: #1396e4;
}
.advantage__item_09:hover svg .cls-1 {
  fill: #fff;
}
.advantage__item_09:hover svg .cls-2,
.advantage__item_09:hover svg .cls-3 {
  stroke: #fff;
}
.advantage__item_0 {
  opacity: 0;
  visibility: hidden;
}
.advantage__item:hover {
  color: #fff;
  background: #1396e4;
  text-decoration: none;
  border-color: #1396e4;
}
.advantage__item:hover .advantage__item_title {
  color: #fff;
}
.advantage__row {
  margin: 0 -15px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.advantage__col {
  width: 33.33%;
  padding: 0 15px;
  margin-bottom: 30px;
}
@media (min-width: 992px) {
  .advantage {
    padding-top: 60px;
    padding-bottom: 70px;
  }
  .advantage__mobile {
    display: none;
  }
  .advantage__desktop {
    display: block;
  }
}
@media (min-width: 1200px) {
  .advantage {
    padding-top: 90px;
    padding-bottom: 100px;
  }
  .advantage__item {
    width: 100%;
    font-size: 1.6rem;
    line-height: 2.4rem;
    height: 100%;
  }
  .advantage__item_title {
    font-size: 1.8rem;
    margin-bottom: 10px;
  }
}
@media (min-width: 1340px) {
  .advantage__item {
    height: 255px;
  }
}

.benefit {
  padding-top: 45px;
  padding-bottom: 50px;
  background: #edf8fd url("../img/benefit__bg.png") 50% 50% no-repeat;
}
.benefit h2 {
  margin-bottom: 20px;
}
.benefit__item {
  max-width: 240px;
  color: #53565e;
  text-align: center;
  font-size: 1.5rem;
  line-height: 2.2rem;
  margin: 0 auto 25px auto;
}
.benefit__icon {
  width: 116px;
  color: #1396e4;
  font-size: 3rem;
  font-weight: 500;
  line-height: 3rem;
  text-align: center;
  position: relative;
  margin: 0 auto 10px auto;
}
.benefit__icon span {
  left: 0;
  right: 0;
  top: 50%;
  margin-top: -15px;
  position: absolute;
  display: inline-block;
}
.benefit__icon span sub {
  bottom: 0;
  font-size: 1.8rem;
  line-height: 2.4rem;
}
.benefit__chart {
  width: 188px;
  height: 188px;
  display: none;
  position: relative;
  margin: 0 auto 20px auto;
}
.benefit__chart_item {
  position: relative;
}
.benefit__chart .circles-text {
  top: 50%;
  left: 0;
  right: 0;
  margin-top: -24px;
  text-align: center;
  position: absolute;
  color: #1396e4;
  font-weight: 500;
  font-size: 4.8rem;
  line-height: 4.8rem;
  font-family: "Rubik", Arial, sans-serif;
}
.benefit__title {
  color: #262c38;
  font-weight: 700;
  font-size: 1.6rem;
  line-height: 2.2rem;
  margin-bottom: 10px;
}
@media (min-width: 670px) {
  .benefit__row {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    justify-content: space-between;
  }
  .benefit__item {
    margin: 0 0 40px 0;
  }
}
@media (min-width: 992px) {
  .benefit {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .benefit h2 {
    margin-bottom: 35px;
  }
  .benefit__row {
    -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
    -webkit-justify-content: space-evenly;
    -moz-justify-content: space-evenly;
    justify-content: space-evenly;
  }
}
@media (min-width: 1200px) {
  .benefit {
    padding-top: 80px;
    padding-bottom: 95px;
  }
  .benefit__item {
    max-width: 260px;
    font-size: 1.6rem;
    line-height: 2.4rem;
  }
  .benefit__icon {
    width: 189px;
    display: none;
    font-weight: 500;
    font-size: 4.8rem;
    line-height: 4.8rem;
    margin-bottom: 20px;
  }
  .benefit__icon span {
    margin-top: -24px;
  }
  .benefit__icon span sub {
    font-size: 3rem;
    line-height: 3rem;
  }
  .benefit__chart {
    display: block;
  }
  .benefit__title {
    font-size: 1.8rem;
  }
}
.partners {
  z-index: 40;
  position: relative;
  padding-top: 45px;
  padding-bottom: 50px;
  background-color: transparent;
}
.partners .subtitle {
  max-width: 370px;
}
.partners__info {
  padding: 0;
  color: #262c38;
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 2.1rem;
  list-style: none;
  margin: 0 0 20px 0;
}
.partners__info > li {
  height: 195px;
  text-align: center;
  margin-bottom: 10px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  border-radius: 6px;
}
.partners__info > li:first-child {
  background: url("../img/parrtners__bg_01.jpg") 50% 50% no-repeat;
  background-size: cover;
}
.partners__info > li:last-child {
  background: url("../img/parrtners__bg_02.jpg") 50% 50% no-repeat;
  background-size: cover;
}
.partners__info_wrap {
  margin: auto 0;
}
.partners__info strong {
  display: block;
  color: #1396e4;
  font-weight: 500;
  font-size: 4.8rem;
  line-height: 4.8rem;
}
.partners__info span {
  width: 250px;
  display: inline-block;
}
.partners__logo {
  overflow: hidden;
  background: #fff;
  border: 1px solid #cde6f3;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
}
.partners__logo i {
  display: block;
  margin: 0 auto;
  max-width: 246px;
}
.partners .swiper-pagination {
  font-size: 0;
  line-height: 0;
  left: auto;
  right: auto;
  bottom: auto;
  outline: none;
  padding-top: 20px;
  position: relative;
}
.partners .swiper-pagination-bullet {
  width: 8px;
  height: 8px;
  opacity: 1;
  background: #b8dff7;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
}
.partners .swiper-pagination-bullet-active {
  background: #1396e4;
}
@media (min-width: 576px) {
  .partners__info {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    justify-content: space-between;
  }
  .partners__info > li {
    margin-bottom: 0;
    width: calc(50% - 15px);
  }
}
@media (min-width: 992px) {
  .partners {
    padding-top: 60px;
    padding-bottom: 70px;
  }
  .partners__info {
    font-size: 1.8rem;
    line-height: 2.4rem;
  }
  .partners__info > li {
    height: 300px;
  }
  .partners__info strong {
    font-size: 6rem;
    line-height: 6rem;
  }
  .partners__info span {
    width: 380px;
  }
}
@media (min-width: 1200px) {
  .partners {
    padding-top: 90px;
    padding-bottom: 100px;
  }
  .partners__info > li {
    height: 415px;
  }
}
.service {
  z-index: 10;
  position: relative;
  text-align: center;
  padding-top: 45px;
  background: #ecf7fd;
}
.service__row {
  z-index: 10;
  position: relative;
}
.service__content {
  color: #53565e;
  font-weight: 300;
  font-size: 1.6rem;
  line-height: 2.2rem;
  margin-bottom: 30px;
}
.service__text p {
  margin-bottom: 0;
}
.service__text a {
  color: #000;
  font-weight: 700;
  text-decoration: none;
}
.service__text a:hover {
  color: #000;
  text-decoration: none;
}
.service__image {
  margin: 0 -15px;
  position: relative;
}
.service__image:before {
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  height: 50%;
  content: "";
  display: block;
  background: #fff;
  position: absolute;
}
.service__image_wrap {
  z-index: 10;
  margin: 0 auto;
  max-width: 375px;
  overflow: hidden;
  background: #fff;
  position: relative;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
}
@media (min-width: 670px) {
  .service {
    padding: 0;
    text-align: left;
  }
  .service__row {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    justify-content: space-between;
  }
  .service__image {
    width: 320px;
    margin-top: -10px;
    margin-bottom: -10px;
    -webkit-flex-shrink: 0;
    -moz-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
  }
  .service__image:before {
    display: none;
  }
  .service__image_wrap {
    max-width: inherit;
    -webkit-transform: translate(50px, 0);
    -ms-transform: translate(50px, 0);
    -o-transform: translate(50px, 0);
    transform: translate(50px, 0);
  }
  .service__content {
    z-index: 80;
    padding: 20px 0;
    margin-bottom: 0;
    position: relative;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -moz-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
  }
  .service__text {
    margin-right: -20px;
  }
}
@media (min-width: 992px) {
  .service__content {
    font-size: 1.8rem;
    line-height: 2.6rem;
  }
  .service__image {
    width: 360px;
    margin-top: -25px;
    margin-bottom: -25px;
    -webkit-flex-shrink: 0;
    -moz-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
  }
  .service__image:before {
    display: none;
  }
  .service__image_wrap {
    max-width: inherit;
    -webkit-transform: translate(45px, 0);
    -ms-transform: translate(45px, 0);
    -o-transform: translate(45px, 0);
    transform: translate(45px, 0);
  }
}
@media (min-width: 1200px) {
  .service__image {
    width: 460px;
    margin-top: -60px;
    margin-bottom: -60px;
  }
}
@media (min-width: 1340px) {
  .service__content {
    width: 680px;
  }
  .service__text {
    margin: 0;
  }
  .service__image {
    width: 610px;
    margin-top: -135px;
    margin-bottom: -135px;
  }
}

.faq {
  padding-top: 20px;
  padding-bottom: 50px;
  background-color: #fff;
}
.faq .subtitle {
  max-width: 550px;
}
.faq__item {
  overflow: hidden;
  margin-bottom: 10px;
  position: relative;
  font-size: 1.5rem;
  line-height: 2.1rem;
  border: 1px solid #cde6f3;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
}
.faq__item.open .faq__item_question {
  color: #1396e4;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.faq__item.open .faq__item_question:before {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.faq__item_question {
  cursor: pointer;
  color: #262c38;
  font-weight: 500;
  position: relative;
  padding: 20px 75px 20px 25px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.faq__item_question:hover {
  color: #1396e4;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.faq__item_question:after {
  z-index: 1;
  top: -1px;
  left: -1px;
  bottom: -1px;
  width: 10px;
  content: "";
  display: block;
  position: absolute;
  background: #1396e4;
}
.faq__item_question:before {
  top: 50%;
  right: 10px;
  width: 17px;
  height: 9px;
  content: "";
  margin-top: -5px;
  position: absolute;
  display: inline-block;
  background: url("../img/faq__arrow.png") 0 0 no-repeat;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.faq__item_answer {
  display: none;
  font-weight: 300;
  padding: 20px 40px 20px 25px;
  border-top: 1px solid #cde6f3;
}
.faq__item_answer p {
  margin: 0 0 10px 0;
}
.faq__item_answer p:last-child {
  margin-bottom: 0;
}
@media (min-width: 670px) {
  .faq {
    padding-top: 45px;
  }
}
@media (min-width: 992px) {
  .faq {
    padding-top: 60px;
    padding-bottom: 70px;
  }
}
@media (min-width: 1200px) {
  .faq {
    padding-top: 90px;
    padding-bottom: 100px;
  }
  .faq__item {
    font-size: 1.8rem;
    line-height: 2.4rem;
  }
  .faq__item_question {
    padding: 20px 100px 20px 40px;
  }
  .faq__item_question:after {
    width: 20px;
  }
  .faq__item_answer {
    padding: 20px 60px 20px 40px;
  }
}

/*# sourceMappingURL=main.css.map */
