.header {
	top: 0;
	left: 0;
	right: 0;
	z-index: 1000;
	font-size: 1.4rem;
	background: #fff;
	position: fixed;

	&__row {
		height: 64px;
		padding: 5px 0;
		@include flexbox();
		@include align-items(center);
		@include justify-content(space-between);
	}

	&__logo {
		width: 124px;
		display: block;
	}

	&__toggle {
		width: 40px;
		height: 38px;
		font-size: 0;
		line-height: 0;
		cursor: pointer;
		z-index: 1050;
		position: relative;
		display: inline-block;
		border: 1px solid #c7d9eb;
		@include border-radius(4px);

		span,
		&:after,
		&:before {
			left: 50%;
			z-index: 10;
			height: 2px;
			width: 24px;
			content: '';
			margin-left: -12px;
			position: absolute;
			background: #1e2836;
			display: inline-block;
		}

		span {
			top: 17px;
		}

		&:after {
			top: 9px;
		}

		&:before {
			bottom: 9px;
		}
	}

	&__content {
		top: 0;
		left: 0;
		color: #fff;
		height: 100vh;
		width: 260px;
		z-index: 1050;
		display: block;
		position: fixed;
		margin-left: -280px;
		padding: 30px 15px;
		background: #325da6;
		@include box-shadow(0px 0px 10px 0px rgba(0, 0, 0, 0.5));
		@include transition(.3s);

		&_layout {
			top: 0;
			left: 0;
			right: 0;
			opacity: 0;
			z-index: 1010;
			height: 100vh;
			position: fixed;
			visibility: hidden;
		}
	}

	&__nav {

		ul {
			margin: 0;
			padding: 0;
			list-style: none;

			li {

				a {
					padding: 5px 0;
					font-weight: 500;
					color: #fff;
					display: inline-block;
					text-decoration: none;
					text-transform: uppercase;

					&:hover {
						color: #fff;
						text-decoration: underline;
					}
				}
			}
		}
	}

	&__contact {
		margin: 0;
		list-style: none;
		font-weight: 300;
		font-size: 1.4rem;
		padding: 10px 0 20px 0;

		li {
			padding: 3px 0;
			white-space: nowrap;


			span {
				display: block;
			}

			a {
				font-weight: 500;
				color: #fff;
				text-decoration: none;

				&:hover {
					color: #fff;
					text-decoration: none;
				}
			}
		}
	}

	&.nav_open {

		.header__content {
			margin-left: 0;
			@include transition(.3s);
		}

		.header__content_layout {
			visibility: visible;
			opacity: 1;
		}

		.header__toggle {

			span {
				display: none;
			}

			&:after {
				top: 17px;
				@include rotate(45deg);
			}

			&:before {
				bottom: 17px;
				@include rotate(-45deg);
			}
		}
	}


	@media (min-width: $screen-sm-min) {

		&__row {
			height: 70px;
		}
	}

	@media (min-width: $screen-md-min) {

	}

	@media (min-width: $screen-lg-min) {
		background: transparent;
		position: absolute;

		&__row {
			height: 120px;
		}

		&__toggle {
			display: none;
		}

		&__logo {
			width: 170px;
		}

		&__content {
			margin: 0;
			padding: 0;
			top: auto;
			left: auto;
			right: auto;
			width: auto;
			height: auto;
			position: relative;
			background: transparent;
			@include flexbox();
			@include align-items(center);
			@include box-shadow(none);
		}

		&__nav {
			padding: 0;
			margin: 0 40px 0 0;

			ul {
				padding: 0;
				@include flexbox();

				li {
					margin: 0 30px 0 0;

					a {
						padding: 0;
					}
				}
			}
		}

		&__contact {
			padding: 0 25px 0 0;
			@include flexbox();

			li {
				margin-right: 25px;
			}
		}

		&.nav_open {

			.header__toggle {
				display: none;
			}

			.header__content_layout {
				opacity: 0;
				display: none;
				visibility: hidden;
			}
		}
	}

	@media (min-width: $screen-xl-min) {

		&__nav {
			margin-right: 70px;
		}
	}
}
