.footer {
	color: #fff;
	text-align: center;
	font-size: 1.4rem;
	line-height: 2rem;
	background: #354f98;

	&__row {

	}

	&__left {

	}

	&__right {
		padding-top: 45px;
		padding-bottom: 40px;
	}

	&__logo {
		display: none;
	}

	&__text {
		padding: 24px 0;
		font-weight: 300;
		font-size: 1.4rem;
		line-height: 2rem;
		border-top: 1px solid #9aa4c5;

		span {
			opacity: 0.4;
		}
	}

	&__title {
		font-weight: 700;
		font-size: 1.6rem;
		line-height: 2rem;
		margin-bottom: 5px;
	}

	&__nav {
		margin-bottom: 20px;

		ul {
			margin: 0;
			padding: 0;
			list-style: none;

			li {
				margin-bottom: 6px;

				&:last-child {
					margin-bottom: 0;
				}

				a {
					color: #fff;
					text-decoration: none;

					&:hover {
						color: #fff;
						text-decoration: underline;
					}
				}
			}
		}
	}

	&__contact {
		margin-bottom: 20px;

		ul {
			margin: 0;
			padding: 0;
			list-style: none;

			li {
				margin-bottom: 6px;

				&:last-child {
					margin-bottom: 0;
				}

				a {
					color: #fff;
					text-decoration: none;

					&:hover {
						color: #fff;
						text-decoration: none;
					}
				}
			}
		}
	}

	&__social {

		&_row {
			font-size: 0;
			line-height: 0;
			margin: 0 -5px;
			@include flexbox();
			@include flex-wrap(wrap);
			@include align-items(center);
			@include justify-content(center);
		}

		a {
			width: 36px;
			height: 36px;
			margin: 0 5px 10px 5px;
			text-align: center;
			border: 1px solid #fff;
			@include flexbox();
			@include flex-shrink(0);
			@include flex-direction(column);
			@include border-radius(3px);


			> div {
				margin: auto 0;
			}

			i {
				height: 16px;
				display: inline-block;
			}

			.ico-svg {
				fill: #fff;
			}

			&:hover {
				background: #fff;

				.ico-svg {
					fill: #354f98;
				}
			}
		}
	}

	&__info {
		display: none;
		color: #53565e;
		font-size: 1.4rem;
		line-height: 2rem;
		padding-top: 15px;
	}

	@media (min-width: $screen-sm-min) {
		text-align: left;

		&__right {
			padding-bottom: 30px;
			@include flexbox();
			@include justify-content(space-between);
		}

		&__nav {
			margin-bottom: 0;
		}

		&__contact {
			margin-bottom: 0;
		}

		&__social {
			width: 128px;
			@include flex-shrink(0);

			&_row {
				@include justify-content(flex-start);
			}
		}

		&__text {
			text-align: center;
		}
	}

	@media (min-width: $screen-md-min) {

		&__title {
			margin-bottom: 15px;
		}

		&__social {
			width: 174px;
		}
	}


	@media (min-width: $screen-lg-min) {
		height: 300px;
		background: url("../img/footer__bg.jpg") 50% 0 no-repeat;

		&__row {
			@include flexbox();
			@include flex-grow(1);
			@include justify-content(space-between);
		}

		&__left {
			width: 360px;
			height: 300px;
			@include order(1);
			@include flexbox();
			@include flex-direction(column);
			@include flex-shrink(0);
		}

		&__right {
			height: 300px;
			padding: 60px 0 0 50px;
			@include order(2);
			@include flex-grow(1);
		}

		&__logo {
			@include flex-grow(1);
			@include flexbox();
			@include flex-direction(column);

			&_wrap {
				margin: auto 0;
			}

			a {
				width: 170px;
				display: inline-block;
			}
		}

		&__text {
			color: #53565e;
			text-align: left;
			padding: 35px 0;
			border-top: 1px solid #cde6f3;
		}

		&__nav {

			ul {

				li {
					margin-bottom: 10px;

					&:last-child {
						margin-bottom: 0;
					}
				}
			}
		}

		&__contact {

			ul {

				li {
					margin-bottom: 10px;

					&:last-child {
						margin-bottom: 0;
					}
				}
			}
		}

		&__info {
			display: block;
		}
	}

	@media (min-width: $screen-xl-min) {

		&__left {
			width: 435px;
		}

		&__right {
			padding-left: 100px;
		}

		&__contact {
			padding-right: 40px;
		}
	}
}