.page {
	width: 100%;
	overflow: hidden;
	min-height: 100vh;
	@include flexbox();
	@include flex-direction(column);
}

.main {
	@include flex-grow(1);
}

.subtitle {
	color: #53565e;
	font-weight: 300;
	max-width: 680px;
	font-size: 1.6rem;
	line-height: 2.2rem;
	text-align: center;
	margin: 0 auto 25px auto;

	@media (min-width: $screen-md-min) {
		font-size: 1.8rem;
		line-height: 2.6rem;
		margin-bottom: 45px;
	}
}

.promo {
	position: relative;
	background: #354f98;
	padding-top: 110px;
	padding-bottom: 50px;

	.container {
		z-index: 10;
		position: relative;
	}

	&__content {
		color: #fff;
		text-align: center;

		h1 {
			font-weight: 700;
			font-size: 2.6rem;
			line-height: 2.6rem;
			margin-bottom: 10px;
			min-height: 80px;
		}

		p {
			font-size: 18px;
			max-width: 220px;
			font-weight: 500;
			line-height: 20px;
			margin: 0 auto 20px auto;
		}
	}

	&__button {
		display: none;
	}

	&__image {
		margin: 0 auto;
		max-width: 300px;
		position: relative;
	}

	&__mobile {
		padding-top: 20px;
		text-align: center;
	}

	&__video {
		top: 50%;
		left: 50%;
		width: 50px;
		height: 50px;
		position: absolute;
		display: inline-block;
		margin: -50px 0 0 -25px;
		@include border-radius(50%);

		span {
			top: 50%;
			left: 50%;
			z-index: 10;
			width: 18px;
			position: absolute;
			display: inline-block;
			margin: -10px 0 0 -8px;
		}

		&:after {
			top: 0;
			left: 0;
			z-index: 5;
			content: '';
			width: 100%;
			height: 100%;
			position: absolute;
			background: #1396e4;
			display: inline-block;
			@include border-radius(50%);
			@include transition(.3s);
		}

		&:before {
			z-index: 1;
			top: -16px;
			content: '';
			left: -16px;
			right: -16px;
			bottom: -16px;
			position: absolute;
			background: #1396e4;
			display: inline-block;
			background: rgba(19,150,228,0.2);
			@include border-radius(50%);
		}

		&:hover {

			&:after {
				background: #0378e4;
				@include transition(.3s);
			}
		}
	}

	@media (min-width: $screen-sm-min) {
		padding-top: 120px;

		&__row {
			@include flexbox();
			@include align-items(center);
			@include justify-content(space-between);
		}

		&__content {
			text-align: left;

			h1 {

			}

			p {
				margin: 0 0 30px 0;
			}
		}

		&__button {
			display: block;
		}

		&__image {
			margin: 0;
		}

		&__mobile {
			display: none;
		}
	}

	@media (min-width: $screen-md-min) {

		&__content {

			h1 {
				font-size: 4rem;
				line-height: 4rem;
				margin-bottom: 15px;
			}

			p {
				width: inherit;
				max-width: inherit;
				font-size: 2.4rem;
				line-height: 3.2rem;
				margin: 0 0 35px 0;
			}
		}

		&__image {
			width: 420px;
			max-width: inherit;
		}
	}

	@media (min-width: $screen-lg-min) {
		background: transparent;

		&:before {
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			z-index: 1;
			content: '';
			display: block;
			position: absolute;
			background: url("../img/promo__bg.jpg") 50% 0 no-repeat;
		}

		&__content {
			color: #262c38;

			h1 {
				font-size: 4rem;
				line-height: 4rem;
				max-width: 380px;
				min-height: 80px;
			}

			p {
				font-size: 2rem;
			}
		}

		&__image {
			width: 520px;
		}

		&__video {
			width: 80px;
			height: 80px;
			margin: -90px 0 0 -50px;

			span {
				width: 26px;
				margin: -15px 0 0 -10px;
			}
		}
	}

	@media (min-width: $screen-xl-min) {
		padding-top: 125px;
		padding-bottom: 90px;

		&__content {

			h1 {
				font-size: 4.8rem;
				line-height: 4.8rem;
				max-width: 450px;
				min-height: 96px;
			}

			p {
				font-size: 2.4rem;
			}
		}

		&__image {
			width: 827px;
		}
	}
}

.vendor {
	padding: 20px 0;

	&__logo {
		overflow: hidden;
		border: 1px solid #cde6f3;
		@include border-radius(3px);

		i {
			display: block;
			margin: 0 auto;
			max-width: 170px;
		}
	}

	@media (min-width: $screen-sm-min) {
		padding: 50px 0 40px 0;
	}
}


.about {
	padding-top: 20px;
	padding-bottom: 40px;

	h2 {
		color: #262c38;
		text-align: center;
	}


	&__introtext {
		color: #53565e;
		font-weight: 300;
		font-size: 1.6rem;
		line-height: 2.2rem;
		text-align: center;
		max-width: 560px;
		margin: 0 auto 30px auto;
	}

	&__row {
		margin: 0;
		padding: 0;
		list-style: none;
		font-size: 1.5rem;
		line-height: 2.2rem;

		> li {
			text-align: center;
			margin-bottom: 10px;
		}
	}

	&__image {
		width: 260px;
		margin: 0 auto 10px auto;
	}

	&__title {
		color: #262c38;
		font-weight: 700;
		font-size: 1.6rem;
		line-height: 2.2rem;
		margin-bottom: 5px;
	}

	&__text {
		color: #53565e;
		margin: 0 auto;
		max-width: 400px;
	}

	&__subtitle {

	}

	@media (min-width: $screen-sm-min) {
		padding-bottom: 60px;

		&__row {

			> li {
				margin-bottom: 0;
				text-align: left;
				@include flexbox();
				@include align-items(center);
				@include justify-content(space-between);

				&:nth-child(2) {
					text-align: right;
					@include flex-direction(row-reverse);
				}
			}
		}

		&__image {
			margin: 0;
			width: 290px;
			padding: 0 15px;
			@include flex-shrink(0);
		}
	}

	@media (min-width: $screen-md-min) {
		padding-top: 40px;

		&__introtext {
			max-width: 640px;
			font-size: 1.8rem;
			line-height: 2.6rem;
		}

		&__row {
			font-size: 1.6rem;
			line-height: 2.4rem;
		}

		&__image {
			width: 340px;
			padding: 0 15px;
			@include flex-shrink(0);
		}

		&__title {
			font-size: 2rem;
			line-height: 2.4rem;
			margin-bottom: 10px;
		}

		&__text {
			max-width: inherit;
		}
	}

	@media (min-width: $screen-lg-min) {
		padding-bottom: 90px;

		&__row {
			@include flexbox();
			@include justify-content(space-between);

			> li {
				width: 33.33%;
				display: block;
				text-align: center;

				&:nth-child(2) {
					text-align: center;
				}
			}
		}

		&__image {
			width: auto;
			padding: 0;
			margin: 0 auto 20px auto;
			max-width: 310px;
		}

		&__content {
			max-width: 400px;
			margin: 0 auto;
		}
	}

	@media (min-width: $screen-xl-min) {

	}
}

.comfort {
	padding-top: 45px;
	padding-bottom: 50px;
	background-color: #ecf7fd;

	h2 {
		text-align: center;
	}

	&__row {

	}

	&__col {
		margin-bottom: 30px;
	}

	&__title {
		z-index: 1;
		background: #fff;
		font-weight: 500;
		font-size: 1.6rem;
		line-height: 1.8rem;
		padding: 20px 30px;
		text-align: center;
		margin-bottom: 10px;
		position: relative;
		@include border-radius(6px);

		span {
			width: 200px;
			display: inline-block;
		}

		&_rose {
			color: #fb6090;
			border: 1px solid #fb6090;
		}

		&_green {
			color: #00b262;
			border: 1px solid #00b262;
		}
	}

	&__informer {
		color: #fff;
		z-index: 10;
		font-weight: 500;
		font-size: 1.5rem;
		line-height: 2rem;
		text-align: center;
		padding: 15px 20px;
		margin-bottom: 20px;
		position: relative;
		@include border-radius(6px);

		&:before {
			top: -21px;
			content: '';
			width: 37px;
			height: 21px;
			position: absolute;
			display: inline-block;
		}

		&_rose {
			background: #fb6090;

			&:before {
				right: 35px;
				background: url("../img/comfort__arrow_rose_up.png") 0 0 no-repeat;
			}
		}

		&_green {
			background: #00b262;

			&:before {
				left: 35px;
				background: url("../img/comfort__arrow_green_up.png") 0 0 no-repeat;
			}
		}
	}

	&__step {
		margin: 0;
		padding: 0;
		color: #53565e;
		font-size: 1.5rem;
		line-height: 2rem;
		list-style: none;
		text-align: center;

		> li {
			padding-top: 30px;
			position: relative;
			margin-bottom: 5px;

			&:before {
				top: 0;
				left: 50%;
				z-index: 5;
				content: '';
				width: 26px;
				height: 26px;
				margin-left: -13px;
				position: absolute;
				display: inline-block;
			}

			span {
				display: block;
			}

			strong {
				color: #262c38;
				display: block;
				font-weight: 500;
			}
		}

		&_rose {

			> li {

				&:before {
					background: url("../img/comfort__point_rose.png") 50% 50% no-repeat;
					background-size: cover;
				}
			}
		}

		&_green {

			> li {

				&:before {
					background: url("../img/comfort__point_green.png") 50% 50% no-repeat;
					background-size: cover;
				}
			}
		}
	}

	&__man {
		width: 1px;
		height: 1px;
		z-index: 1;
		opacity: 0;
		visibility: hidden;
		position: absolute;
	}

	@media (min-width: $screen-sm-min) {

		&__row {
			@include flexbox();
			@include justify-content(space-between);
		}

		&__col {
			width: 290px;
		}

		&__informer {
			min-height: 110px;
		}
	}

	@media (min-width: $screen-md-min) {
		padding-top: 60px;
		padding-bottom: 80px;

		&__row {
			position: relative;
			margin-bottom: 20px;
		}

		&__col {
			margin-bottom: 0;
			width: calc(50% - 15px);
		}

		&__title {
			padding: 25px 40px;

			span {
				width: auto;
			}

			&_rose {
				text-align: right;
			}

			&_green {
				text-align: left;
			}
		}

		&__informer {
			margin-bottom: 40px;
			min-height: inherit;
		}

		&__wrap {
			@include flexbox();

			&_rose {

			}

			&_green {
				@include justify-content(flex-end);
			}
		}

		&__step {
			width: 345px;

			> li {
				padding: 0;
				margin-bottom: 35px;

				&:before {
					width: 31px;
					height: 31px;
					margin-left: 0;
				}

				&:after {
					width: 3px;
					top: 31px;
					z-index: 1;
					content: '';
					bottom: -35px;
					position: absolute;
					display: inline-block;
					background: url("../img/comfort__line.png") 0 0 repeat-y;
				}

				&:last-child {
					margin-bottom: 0;

					&:after {
						opacity: 0;
						display: none;
						visibility: hidden;
					}
				}
			}

			&_rose {

				> li {
					text-align: right;
					padding-right: 50px;

					&:before {
						left: auto;
						right: 0;
					}

					&:after {
						right: 14px;
					}
				}
			}

			&_green {

				> li {
					text-align: left;
					padding-left: 50px;

					&:before {
						left: 0;
						right: auto;
					}

					&:after {
						left: 14px;
					}
				}
			}
		}
	}

	@media (min-width: $screen-lg-min) {
		padding-top: 90px;
		padding-bottom: 100px;

		&__title {
			margin-bottom: 40px;
		}

		&__informer {
			margin: 0;
			z-index: 10;
			width: 310px;
			padding: 15px 35px;
			text-align: left;
			position: absolute;

			&_rose {
				top: 380px;
				left: 365px;

				&:before {
					top: auto;
					bottom: -21px;
					@include rotate(180deg);
				}
			}

			&_green {
				top: 250px;
				right: 365px;

				&:before {
					top: auto;
					bottom: -21px;
					@include rotate(180deg);
				}
			}
		}

		&__man {
			left: 50%;
			top: 160px;
			opacity: 1;
			width: 360px;
			height: auto;
			margin-left: -180px;
			visibility: visible;
		}
	}

	@media (min-width: $screen-xl-min) {

		&__man {
			top: 130px;
			width: 432px;
			margin-left: -216px;
		}
	}
}

.advantage {
	padding-top: 45px;
	padding-bottom: 50px;
	background-color: #fff;

	&__mobile {
		display: block;

		.advantage__item {
			margin: 10px auto;
		}

		.swiper-pagination {
			font-size: 0;
			line-height: 0;
			left: auto;
			right: auto;
			bottom: auto;
			outline: none;
			padding-top: 20px;
			position: relative;
		}

		.swiper-pagination-bullet {
			width: 8px;
			height: 8px;
			opacity: 1;
			background: #b8dff7;
			@include border-radius(50%);
		}

		.swiper-pagination-bullet-active {
			background: #1396e4;
		}
	}

	&__desktop {
		display: none;
	}

	&__item {
		width: 290px;
		height: 280px;
		color: #53565e;
		cursor: pointer;
		font-weight: 300;
		font-size: 1.5rem;
		line-height: 2.2rem;
		text-align: center;
		padding: 30px 15px;
		text-decoration: none;
		border: 1px solid #cbd8ea;
		@include border-radius(3px);


		&_icon {
			height: 50px;
			display: block;
			margin: 0 auto 20px auto;
		}

		&_title {
			color: #262c38;
			font-weight: 700;
			font-size: 1.6rem;
			line-height: 2.2rem;
			margin-bottom: 5px;
		}

		&_01 {

			svg {

				.cls-1,
				.cls-2,
				.cls-3,
				.cls-4,
				.cls-5  {
					stroke: #1396e4;
				}
			}

			&:hover {

				svg {

					.cls-1,
					.cls-2,
					.cls-3,
					.cls-4,
					.cls-5  {
						stroke: #fff;
					}
				}
			}
		}

		&_02 {

			svg {

				.cls-1{
					stroke: #1396e4;
				}
			}

			&:hover {

				svg {

					.cls-1 {
						stroke: #fff;
					}
				}
			}
		}

		&_03 {

			svg {

				.cls-1{
					stroke: #1396e4;
				}
			}

			&:hover {

				svg {

					.cls-1 {
						stroke: #fff;
					}
				}
			}
		}

		&_04 {

			svg {

				.cls-1{
					stroke: #1396e4;
				}
			}

			&:hover {

				svg {

					.cls-1 {
						stroke: #fff;
					}
				}
			}
		}

		&_05 {

			svg {

				.cls-1{
					stroke: #1396e4;
				}
			}

			&:hover {

				svg {

					.cls-1 {
						stroke: #fff;
					}
				}
			}
		}

		&_06 {

			svg {

				.cls-1{
					stroke: #1396e4;
				}
			}

			&:hover {

				svg {

					.cls-1 {
						stroke: #fff;
					}
				}
			}
		}

		&_07 {

			svg {

				.cls-1,
				.cls-3 {
					stroke: #1396e4;
				}

				.cls-2 {
					fill:#1396e4;
				}
			}


			&:hover {

				svg {

					.cls-1,
					.cls-3 {
						stroke: #fff;
					}

					.cls-2 {
						fill:#fff;
					}
				}
			}
		}

		&_08 {

			svg {

				.cls-1 {
					fill:#1396e4;
				}

				.cls-2,
				.cls-3 {
					stroke: #1396e4;
				}
			}

			&:hover {

				svg {

					.cls-1 {
						fill:#fff;
					}

					.cls-2,
					.cls-3 {
						stroke: #fff;
					}
				}
			}
		}

		&_09 {

			svg {

				.cls-1 {
					fill:#1396e4;
				}

				.cls-2,
				.cls-3 {
					stroke: #1396e4;
				}
			}

			&:hover {

				svg {

					.cls-1 {
						fill:#fff;
					}

					.cls-2,
					.cls-3 {
						stroke: #fff;
					}
				}
			}
		}

		&_0 {
			opacity: 0;
			visibility: hidden;
		}


		&:hover {
			color: #fff;
			background: #1396e4;
			text-decoration: none;
			border-color: #1396e4;

			.advantage__item_title {
				color: #fff;
			}
		}
	}

	&__row {
		margin: 0 -15px;
		@include flexbox();
		@include flex-wrap(wrap);
	}

	&__col {
		width: 33.33%;
		padding: 0 15px;
		margin-bottom: 30px;
	}

	@media (min-width: $screen-sm-min) {

	}

	@media (min-width: $screen-md-min) {
		padding-top: 60px;
		padding-bottom: 70px;

		&__mobile {
			display: none;
		}

		&__desktop {
			display: block;
		}

	}

	@media (min-width: $screen-lg-min) {
		padding-top: 90px;
		padding-bottom: 100px;

		&__item {
			width: 100%;
			font-size: 1.6rem;
			line-height: 2.4rem;
			height: 100%;

			&_title {
				font-size: 1.8rem;
				margin-bottom: 10px;
			}
		}
	}

	@media (min-width: $screen-xl-min) {

		&__item {
			height: 255px;
		}
	}
}

.benefit {
	padding-top: 45px;
	padding-bottom: 50px;
	background: #edf8fd url("../img/benefit__bg.png") 50% 50% no-repeat;

	h2 {
		margin-bottom: 20px;
	}

	&__row {

	}

	&__item {
		max-width: 240px;
		color: #53565e;
		text-align: center;
		font-size: 1.5rem;
		line-height: 2.2rem;
		margin: 0 auto 25px auto;
	}

	&__icon {
		width: 116px;
		color: #1396e4;
		font-size: 3rem;
		font-weight: 500;
		line-height: 3rem;
		text-align: center;
		position: relative;
		margin: 0 auto 10px auto;

		span {
			left: 0;
			right: 0;
			top: 50%;
			margin-top: -15px;
			position: absolute;
			display: inline-block;

			sub {
				bottom: 0;
				font-size: 1.8rem;
				line-height: 2.4rem;
			}
		}
	}


	&__chart {
		width: 188px;
		height: 188px;
		display: none;
		position: relative;
		margin: 0 auto 20px auto;

		&_item {
			position: relative;
		}

		.circles-text {
			top: 50%;
			left: 0;
			right: 0;
			margin-top: -24px;
			text-align: center;
			position: absolute;
			color: $color-blue;
			font-weight: 500;
			font-size: 4.8rem;
			line-height: 4.8rem;
			font-family: $font-family-base;
		}
	}


	&__title {
		color: #262c38;
		font-weight: 700;
		font-size: 1.6rem;
		line-height: 2.2rem;
		margin-bottom: 10px;
	}

	&__text {

	}

	@media (min-width: $screen-sm-min) {

		&__row {
			@include flexbox();
			@include justify-content(space-between);
		}

		&__item {
			margin: 0 0 40px 0;
		}
	}

	@media (min-width: $screen-md-min) {
		padding-top: 60px;
		padding-bottom: 60px;

		h2 {
			margin-bottom: 35px;
		}

		&__row {
			@include justify-content(space-evenly);
		}
	}

	@media (min-width: $screen-lg-min) {
		padding-top: 80px;
		padding-bottom: 95px;

		&__item {
			max-width: 260px;
			font-size: 1.6rem;
			line-height: 2.4rem;
		}

		&__icon {
			width: 189px;
			display: none;
			font-weight: 500;
			font-size: 4.8rem;
			line-height: 4.8rem;
			margin-bottom: 20px;

			span {
				margin-top: -24px;

				sub {
					font-size: 3rem;
					line-height: 3rem;
				}
			}
		}

		&__chart {
			display: block;
		}

		&__title {
			font-size: 1.8rem;
		}
	}


	@media (min-width: $screen-xl-min) {

	}
}

.partners {
	z-index: 40;
	position: relative;
	padding-top: 45px;
	padding-bottom: 50px;
	background-color: transparent;

	.subtitle {
		max-width: 370px;
	}

	&__info {
		padding: 0;
		color: #262c38;
		font-weight: 700;
		font-size: 1.5rem;
		line-height: 2.1rem;
		list-style: none;
		margin: 0 0 20px 0;

		> li {
			height: 195px;
			text-align: center;
			margin-bottom: 10px;
			@include flexbox();
			@include flex-direction(column);
			@include border-radius(6px);

			&:first-child {
				background: url("../img/parrtners__bg_01.jpg") 50% 50% no-repeat;
				background-size: cover;
			}

			&:last-child {
				background: url("../img/parrtners__bg_02.jpg") 50% 50% no-repeat;
				background-size: cover;
			}
		}

		&_wrap {
			margin: auto 0;
		}

		strong {
			display: block;
			color: #1396e4;
			font-weight: 500;
			font-size: 4.8rem;
			line-height: 4.8rem;
		}

		span {
			width: 250px;
			display: inline-block;
		}
	}

	&__logo {
		overflow: hidden;
		background: #fff;
		border: 1px solid #cde6f3;
		@include border-radius(3px);

		i {
			display: block;
			margin: 0 auto;
			max-width: 246px;
		}
	}


	.swiper-pagination {
		font-size: 0;
		line-height: 0;
		left: auto;
		right: auto;
		bottom: auto;
		outline: none;
		padding-top: 20px;
		position: relative;
	}

	.swiper-pagination-bullet {
		width: 8px;
		height: 8px;
		opacity: 1;
		background: #b8dff7;
		@include border-radius(50%);
	}

	.swiper-pagination-bullet-active {
		background: #1396e4;
	}

	@media (min-width: 576px) {

		&__info {
			@include flexbox();
			@include justify-content(space-between);

			> li {
				margin-bottom: 0;
				width: calc(50% - 15px);
			}
		}
	}

	@media (min-width: $screen-md-min) {
		padding-top: 60px;
		padding-bottom: 70px;

		&__info {
			font-size: 1.8rem;
			line-height: 2.4rem;

			> li {
				height: 300px;
			}

			strong {
				font-size: 6rem;
				line-height: 6rem;
			}

			span {
				width: 380px;
			}
		}

		.swiper-pagination {
	//		display: none;
		}
	}

	@media (min-width: $screen-lg-min) {
		padding-top: 90px;
		padding-bottom: 100px;

		&__info {

			> li {
				height: 415px;
			}
		}
	}


	@media (min-width: $screen-lg-min) {

	}
}

.service {
	z-index: 10;
	position: relative;
	text-align: center;
	padding-top: 45px;
	background: #ecf7fd;

	&__row {
		z-index: 10;
		position: relative;
	}

	&__content {
		color: #53565e;
		font-weight: 300;
		font-size: 1.6rem;
		line-height: 2.2rem;
		margin-bottom: 30px;
	}

	&__text {

		p {
			margin-bottom: 0;
		}

		a {
			color: #000;
			font-weight: 700;
			text-decoration: none;

			&:hover {
				color: #000;
				text-decoration: none;
			}
		}
	}

	&__image {
		margin: 0 -15px;
		position: relative;

		&:before {
			left: 0;
			right: 0;
			bottom: 0;
			z-index: 1;
			height: 50%;
			content: '';
			display: block;
			background: #fff;
			position: absolute;
		}

		&_wrap {
			z-index: 10;
			margin: 0 auto;
			max-width: 375px;
			overflow: hidden;
			background: #fff;
			position: relative;
			@include border-radius(50%);
		}
	}

	@media (min-width: $screen-sm-min) {
		padding: 0;
		text-align: left;

		&__row {
			@include flexbox();
			@include align-items(center);
			@include justify-content(space-between);
		}

		&__image {
			width: 320px;
			margin-top: -10px;
			margin-bottom: -10px;
			@include flex-shrink(0);

			&:before {
				display: none;
			}

			&_wrap {
				max-width: inherit;
				@include translate(50px, 0);
			}
		}

		&__content {
			z-index: 80;
			padding: 20px 0;
			margin-bottom: 0;
			position: relative;
			@include flex-grow(1);
		}

		&__text {
			margin-right: -20px;
		}
	}

	@media (min-width: $screen-md-min) {

		&__content {
			font-size: 1.8rem;
			line-height: 2.6rem;
		}

		&__image {
			width: 360px;
			margin-top: -25px;
			margin-bottom: -25px;
			@include flex-shrink(0);

			&:before {
				display: none;
			}

			&_wrap {
				max-width: inherit;
				@include translate(45px, 0);
			}
		}
	}

	@media (min-width: $screen-lg-min) {

		&__image {
			width: 460px;
			margin-top: -60px;
			margin-bottom: -60px;
		}
	}

	@media (min-width: $screen-xl-min) {

		&__content {
			width: 680px;
		}

		&__text {
			margin: 0;
		}

		&__image {
			width: 610px;
			margin-top: -135px;
			margin-bottom: -135px;
		}
	}
}

.faq {
	padding-top: 20px;
	padding-bottom: 50px;
	background-color: #fff;

	.subtitle {
		max-width: 550px;
	}

	&__item {
		overflow: hidden;
		margin-bottom: 10px;
		position: relative;
		font-size: 1.5rem;
		line-height: 2.1rem;
		border: 1px solid #cde6f3;
		@include border-radius(4px);

		&.open {

			.faq__item_question {
				color: #1396e4;
				@include transition(.3s);

				&:before {
					@include rotate(180deg);
					@include transition(.3s);
				}
			}
		}

		&_question {
			cursor: pointer;
			color: #262c38;
			font-weight: 500;
			position: relative;
			padding: 20px 75px 20px 25px;
			@include transition(.3s);

			&:hover {
				color: #1396e4;
				@include transition(.3s);
			}

			&:after {
				z-index: 1;
				top: -1px;
				left: -1px;
				bottom: -1px;
				width: 10px;
				content: '';
				display: block;
				position: absolute;
				background: #1396e4;
			}

			&:before {
				top: 50%;
				right: 10px;
				width: 17px;
				height: 9px;
				content: '';
				margin-top: -5px;
				position: absolute;
				display: inline-block;
				background: url("../img/faq__arrow.png") 0 0 no-repeat;
				@include transition(.3s);
			}
		}

		&_answer {
			display: none;
			font-weight: 300;
			padding: 20px 40px 20px 25px;
			border-top: 1px solid #cde6f3;

			p {
				margin: 0 0 10px 0;

				&:last-child {
					margin-bottom: 0;
				}
			}
		}
	}

	@media (min-width: $screen-sm-min) {
		padding-top: 45px;
	}

	@media (min-width: $screen-md-min) {
		padding-top: 60px;
		padding-bottom: 70px;
	}

	@media (min-width: $screen-lg-min) {
		padding-top: 90px;
		padding-bottom: 100px;

		&__item {
			font-size: 1.8rem;
			line-height: 2.4rem;

			&_question {
				padding: 20px 100px 20px 40px;

				&:after {
					width: 20px;
				}
			}

			&_answer {
				padding: 20px 60px 20px 40px;
			}
		}
	}
}


@media (min-width: $screen-sm-min) {

}

@media (min-width: $screen-md-min) {

}

@media (min-width: $screen-lg-min) {

}

@media (min-width: $screen-xl-min) {

}