
.btn {
	color: #fff;
	border: none;
	outline: none;
	cursor: pointer;
	font-weight: 500;
	font-size: 1.6rem;
	line-height: 2rem;
	padding: 18px 30px;
	user-select: none;
	text-align: center;
	white-space: nowrap;
	background: #1396e4;
	text-decoration: none;
	display: inline-block;
	vertical-align: middle;
	@include border-radius(5px);
	@include transition(.3s);

	&:hover {
		color: #fff;
		background: #056ce4;
		@include transition(.3s);
	}

	&:active {
		background: #1396e4;
	}

	&:focus,
	&.focus {
		outline: 0;
	}
}

.btn_sm {

}

.btn_white {
	padding: 10px 25px;
	color: #325da6;
	background: #fff;

	&:hover {
		color: #325da6;
		background: #fff;
	}
}

.btn_shadow {
	@include box-shadow(0px 6px 10px 0px rgba(19, 150, 228, 0.36));
}